html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: sans-serif;
    
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url(https://dals0gb6i1pll.cloudfront.net/img/banner-mobile-buser.e1bda3c.png);
}

.barra-top {
    background-color: rgb(255 255 255);
    width: 100%;
    height: 6.5%;
    display: flex;
    flex-direction: row;
    align-self: flex-start; 
}

.textos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    display: flex;
    padding: 25px 0 10px 0;
    color: white;
    margin: 0;
}

p {
    color: white;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.textos {
    align-items: center;
    display: flex;
    padding: 0 6% 0 6%;
    margin: 0;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.3;
}

.quadradin {
    width: 100%;
    height: 400px;
    margin: 0% 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;

}

label {
    font-weight: bold;  
}

select, input {
    width: 80%;
    background-color: rgb(255, 255, 255);
    height: 35px;
    border-radius: 6px;
}

button {
    width: 80%;
    color: white;
    font-weight: bolder;
    background-color: #f11075;
    height: 35px;
    border: 2px;
    border-color: #f11075;
    border-radius: 6px;
}


.option

/* 
.logo {

}

.texto1 {
    display: flex;
    padding: 25px 0 10px 0;
    color: white;
    margin: 0;
}

h2 {
    color: white;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.quadrado-rosa {    
    width: 100%;
    
}

.caixa-textos {
    align-items: center;
    display: flex;
    padding: 0 6% 0 6%;
    margin: 0;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.3;
}

.busca {
    /*display: flex;
    background-color: white;
    height: px; 
    width: 340px;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
    background-color: white;
    width: 100px;
    height: 100px;
    
}

input, button {
    width: 95%;
    height: 35px;
    display: block;
    border-radius: 6px;
}

label {
    display: inline-block;
    margin-top: 25px;
} */
